.wrap {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5625rem;
}

.editLink {
  font-size: 0.6875rem;
  color: var(--accent);
  cursor: pointer;
}
.editLink:hover {
  text-decoration: underline;
}
